language: ruby
os: linux
rvm:
 - 2.6.5
cache: bundler
before_install:
  - gem update --system
  - gem install bundler
script:
  - JEKYLL_ENV=production bundle exec jekyll build --destination site
deploy:
  provider: pages
  local_dir: ./site
  email: reinangabriel1520@gmail.com
  name: Deployment Bot
  # skip_cleanup: true
  github-token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: source
target-branch: master