<header class="site-header border-bottom shadow-sm">
    <!-- Logo and title -->
	<div class="branding">
        {% if site.theme_settings.avatar %}
		<a href="{{ '/' | absolute_url }}">
			<img alt="logo img" class="avatar" src="{{ site.theme_settings.avatar | absolute_url }}" />
		</a>
        {% endif %}

		<h1 class="site-title">
			<a aria-label="{{ site.title }}" href="{{ '/' | absolute_url }}">
        {{ site.title }}
      </a>
		</h1>
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a aria-label="pull" id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <ul class="hide">
        <li class="separator"> | </li> 
        <li>
            <a class="clear" aria-label="blog" title="blog" href="{{ '/blog/' | absolute_url }}">
                Blog
            </a>
        </li>
        {% assign name_page = "" %}

        {% for page in site.pages %}
            {%- if page.visible == null or page.visible == true -%}
            {% unless page.title == null or page.hide or name_page contains page.title %}
            <li class="separator"> | </li> 
            <li>
                <a class="clear" aria-label="{{ page.title }}" title="{{ page.title }}" href="{{ page.url | absolute_url }}">
                    {% if page.icon %} <i class="fa {{ page.icon }}" aria-hidden="true"></i>
                    {% else %} {{ page.title }} {% endif%}
                </a>
            </li>
            {% endunless %}
            {%- endif -%}
            {% assign name_page = page.title | append: name_page %}
        {% endfor %}
    </ul>

	</nav>
</header>
