<div class="card-container manual-flip">
	<div class="card">
		<div class="front">
			<div class="cover">
				<img src="{{ '/assets/img/pexels/computer.jpeg' | relative_url }}"/>
			</div>
			<div class="user">
				{% if user.avatar %}
				<img class="img-circle" src="{{ user.avatar | relative_url }}"/>
				{% elsif user.github %}
				<img class="img-circle" src="https://avatars3.githubusercontent.com/{{ user.github }}?v=3&amp;s=273"/>
				{% else %}
				<img class="img-circle" src="https://ui-avatars.com/api/?name={{ user.name | uri_escape  }}?size=273"/>
				{% endif %}
			</div>
			<div class="content">
				<div class="main">
					<h3 class="name">{{ user.name }}</h3>
					<p class="profession">{{ user.type }}</p>
					{% if user.description %}
					<p class="text-center">{{ user.description }}</p>
					{% else %}
					<p class="text-center">"Nenhuma informação foi adicionada sobre esse participante!"</p>
					{% endif %}
				</div>
				<div class="footer">
					<button class="btn btn-simple" onclick="rotateCard(this)">
						<i class="fa fa-mail-forward"></i> Mais informações
					</button>
				</div>
			</div>
		</div> <!-- end front panel -->
		<div class="back">
			<div class="header">
				<h5 class="motto">"{{ user.name }}"</h5>
			</div>
			<div class="content">
				<div class="main">
					<h4 class="text-center">Informações</h4>
					{%- if user.content -%}
					<p class="text-center">{{ user.content }}</p>
					{%- else -%}
					<p class="text-center">Até o momento nenhuma informação foi adicionada sobre {{ user.name }}</p>
					{%- endif -%}
				</div>
			</div>
			<div class="footer">
				<button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
					<i class="fa fa-reply"></i> Voltar
				</button>
				
				
				{% if user.github %}
					<button class="btn btn-simple" rel="Github" title="Github" onclick="window.open('https://github.com/{{ user.github }}','_blank');">
						<i class="fa fa-github"></i>
					</button>
				{% endif %}
				{% if user.social.twitter %}
					<button class="btn btn-simple" rel="Twitter" title="Twitter" onclick="window.open('https://twitter.com/{{ user.social.twitter }}','_blank');">
						<i class="fa fa-twitter"></i>
					</button>
				{% endif %}
				{% if user.social.instagram %}
					<button class="btn btn-simple" rel="Instagram" title="Instagram" onclick="window.open('https://instagram.com/{{ user.social.instagram }}','_blank');">
						<i class="fa fa-instagram"></i>
					</button>
				{% endif %}
				{% if user.social.facebook %}
					<button class="btn btn-simple" rel="Facebook" title="Facebook" onclick="window.open('https://fb.com/{{ user.social.facebook }}','_blank');">
						<i class="fa fa-facebook"></i>
					</button>
				{% endif %}
				
				{% if user.url %}
					<button class="btn btn-simple" rel="Site" title="Site pessoal" onclick="window.open('{{user.url}}','_blank');">
						<i class="fa fa-globe"></i>
					</button>
				{% endif %}
			</div>
		</div> <!-- end back panel -->
	</div> <!-- end card -->
</div> <!-- end card-container -->