<div class="card-container manual-flip">
	<div class="card" id="{{user.id}}">
		<div class="front">
			<div class="cover">
				<img src="{{ '/assets/img/pexels/computer.jpeg' | absolute_url }}"/>
			</div>
			<div class="user">
				{% if user.avatar %}
				<img class="img-circle" src="{{ user.avatar | absolute_url }}"/>
				{% elsif user.github %}
				<img class="img-circle" src="https://avatars3.githubusercontent.com/{{ user.github }}?v=3&amp;s=273"/>
				{% else %}
				<img class="img-circle" src="https://ui-avatars.com/api/?name={{ user.name | uri_escape  }}?size=273"/>
				{% endif %}
			</div>
			<div class="content">
				<div class="main">
					<h3 class="name">{{ user.name }}</h3>
					<p class="profession">{{ user.type }}</p>
					{% if user.description %}
					<p class="text-center">{{ user.description }}</p>
					{% else %}
					<p class="text-center">"Nenhuma informação foi adicionada sobre esse participante!"</p>
					{% endif %}
				</div>
				<div class="footer">
					<button class="btn btn-simple" onclick="rotateCard(this)">
						<i class="fa fa-mail-forward"></i> Mais informações
					</button>
				</div>
			</div>
		</div> <!-- end front panel -->
		<div class="back">
			<div class="header">
				<h5 class="motto">"{{ user.name }}"</h5>
			</div>
			<div class="content">
				<div class="main">
					<h4 class="text-center">Informações</h4>
					{%- if user.content -%}
					<p class="text-center">{{ user.content }}</p>
					{%- else -%}
					<p class="text-center">Até o momento nenhuma informação foi adicionada sobre {{ user.name }}</p>
					{%- endif -%}
				</div>
			</div>
			<div class="footer">
				<button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
					<i class="fa fa-reply"></i> Volta
				</button>
				<div class="social-links text-center">
					{% if user.social.facebook %}
					<a target="_blank" href="http://fb.com/{{ user.social.facebook }}" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
					{% endif %}
					{% if user.github %}
					<a target="_blank" href="http://github.com/{{ user.github }}" class="google"><i class="fa fa-github fa-fw"></i></a>
					{% endif %}
					{% if user.social.twitter %}
					<a target="_blank" href="https://twitter.com/{{ user.social.twitter }}" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
					{% endif %}
					{% if user.social.instagram %}
					<a target="_blank" href="https://instagram.com/{{ user.social.instagram }}" class="twitter"><i class="fa fa-instagram fa-fw"></i></a>
					{% endif %}
				</div>
			</div>
		</div> <!-- end back panel -->
	</div> <!-- end card -->
</div> <!-- end card-container -->