<div class="section section-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- row -->
                <div class="row">
                    <!-- Categorys -->
                    {% for category in site.categories %}
                    {% assign title = category[0] %}
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="title">{{ title }}</h2>
                        </div>
                    </div>

                    <!-- post -->
                    {% for post in site.categories[title] limit:6 %}
                    <div class="col-md-6">{%- include blog/post-thumb.html post=post -%}</div>
                    {% endfor %}
                    <!-- /post -->

                    {% endfor %}
                </div>
                <!-- /row -->
            </div>
            <div class="col-md-4">{%- include blog/blogSubMenu.html -%}</div>
        </div>
    </div>
</div>