
{% if page.toc %}
	{% assign show_toc = page.toc %}
{% else %}
	{% assign show_toc = layout.toc %}
{% endif %}

{% assign show_social = page.show_social %}
{% if show_social == nil %}
	{% assign show_social = layout.show_social %}
{% endif %}


{% if show_toc %}
<div class="aside-widget">
	<div class="section-title">
		<h2 class="title">TOC</h2>
	</div>
	<div class="widget">
			{% toc %}
    </div>
</div>
{% endif %}

{% if show_social == true %}
<!-- Página responsável pelos destaques e anúncios -->
<!-- social widget -->
<div class="aside-widget">
    <div class="section-title">
        <h2 class="title">Mídia social</h2>
    </div>
    <div class="social-widget">
        <ul>
            <li>
                <a href="https://www.facebook.com/{{ site.social.facebook }}" target="_blank" class="social-facebook">
                    <i class="fa fa-facebook"></i>
                    <span>Curta nossa página</span>
                </a>
            </li>
            <li>
                <a href="https://www.twitter.com/{{ site.social.twitter }}" target="_blank" class="social-twitter">
                    <i class="fa fa-twitter"></i>
                    <span>Siga-me <br>no twitter</span>
                </a>
            </li>
            <li>
                <a href="https://www.google.com/search?&q=projetokube-site&oq=projetokube-site" target="_blank"
                    class="social-google-plus">
                    <i class="fa fa-google"></i>
                    <span>Resultados de busca</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- /social widget -->

{% endif %}

<!-- category widget -->
<div class="aside-widget">
    <div class="section-title">
        <h2 class="title">Categorias</h2>
    </div>
    <div class="category-widget">
        <ul>			
			{% for category in site.categories %}			
			{% assign title = category[0]  %}		
			{% assign url = title | slugify: 'latin' %}

            <li><a href="{{ 'category' | absolute_url }}/{{ url }}">{{ title }} <span>{{ site.categories[title].size }}</span></a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- /category widget -->

<!-- post widget -->
<div class="aside-widget">
    <div class="section-title">
        <h2 class="title">Postagens recentes</h2>
    </div>
    <!-- post -->
    {% for post in site.posts limit:10 %}
    {%- include blog/post-thumb.html post=post type='post-widget' -%}
    {% endfor %}
</div>
<!-- /post widget -->