// Import
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.section-blog h1,
.section-blog h2,
.section-blog h3,
.section-blog h4,
.section-blog h5,
.section-blog h6 {
  font-family: "Montserrat", sans-serif;
  color: #11151c;
  font-weight: 700;
  margin: 0px 0px 15px;
}

.section-blog h1 {
  font-size: 32.437px;
}

.section-blog h2 {
  font-size: 25.629px;
}

.section-blog h3 {
  font-size: 20.25px;
}

.section-blog h4 {
  font-size: 16px;
}

.section-blog h5 {
}

.section-blog p {
  margin: 0px 0px 20px;
}

.section-blog a {
  color: #11151c;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

.section-blog a:hover,
.section-blog a:focus {
  color: #337ab7;
  text-decoration: none;
  outline: none;
}

.post-content a{
  color: #264a90;
}

.p-title {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.p-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 5px;
  background: #000;
  z-index: 1;
}

.p-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ccc;
}
/*----------------------------*\
	section
\*----------------------------*/

.section {
  padding-top: 30px;
}

.section-row {
  margin-bottom: 30px;
}

.section-title {
  position: relative;
  margin-bottom: 20px;
}

.section-title .title {
  position: relative;
  display: inline-block;
  background-color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 10px;
  z-index: 20;
}

.section-title:after {
  content: "";
  display: inline-block;
  height: 2px;
  background-color: #e8eaed;
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  z-index: 10;
}

.section-row.loadmore a {
  color: #fff;
}

.section-row.loadmore a:hover {
  color: #000;
}

/*----------------------------*\
	button
\*----------------------------*/

.primary-button,
.secondary-button {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 2px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.primary-button {
  background-color: #337ab7;
  color: #fff;
  -webkit-box-shadow: 0px 0px 0px 2px #337ab7 inset;
  box-shadow: 0px 0px 0px 2px #337ab7 inset;
}

.secondary-button {
  background-color: #353535;
  color: #fff;
  -webkit-box-shadow: 0px 0px 0px 2px #353535 inset;
  box-shadow: 0px 0px 0px 2px #353535 inset;
}

.primary-button:hover,
.primary-button:focus {
  background-color: transparent;
  color: #337ab7;
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: transparent;
  color: #353535;
}

/*=========================================================
	PAGE HEADER
===========================================================*/

.page-header {
  position: relative;
  margin: 0;
  padding-top: 120px;
  padding-bottom: 80px;
  background-color: #1b1c1e;
}

#post-header {
  padding-top: 240px;
  padding-bottom: 80px;
}

.page-header .page-header-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-item .page-header-bg{
  background-position: 0% 0%;
  background-size: 100% 100%;
  height: 20em;
}

.page-header-bg-o {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #283048;
  background: -webkit-linear-gradient(to right, #283048, #859398);
  background: linear-gradient(to right, 
#283048,
  #859398);
  opacity: .8;
}

.page-header h1 {
  font-size: 41.053px;
  color: #fff;
}

.page-header p.lead {
  font-size: 20.25px;
  color: #fff;
}

/*=========================================================
      POST
  ===========================================================*/

.post {
  position: relative;
  margin-bottom: 30px;
}

.post .post-body {
  position: relative;
  margin: -50px 0px 0px 3%;
  padding: 5%;
  background: #fff;
  z-index: 10;
}

.post .post-img {
  display: block;
  overflow: hidden;
}

.post-img > img {
  width: 100%;
  padding: initial !important;
  -webkit-transition: 1.6s -webkit-transform;
  transition: 1.6s -webkit-transform;
  transition: 1.6s transform;
  transition: 1.6s transform, 1.6s -webkit-transform;
}

.post-img:hover > img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.post-img .no-image {
  width: 100%;
  background-image: linear-gradient( 112.2deg, rgba(86,223,223,1) 4.7%,rgba(2,28,186,1) 110.1% );

}

.post.post-widget .post-img .no-image { height: 70px; }
.post .post-img .no-image { height: 200px; }
.hot-post-right .post.post-thumb .post-img .no-image { height: 197px; }

.post .post-title {
  font-size: 18px;
}

.post .post-title.title-sm {
  font-size: 16px;
}

.post .post-title.title-lg {
  font-size: 25.629px;
}

.post .post-category {
  margin-bottom: 10px;
}

.post-category a {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.post-category a:hover{
  color: #0078ae !important;
}

.badge-black {
  color: #fff;
  background-color:#000;
}

.post .post-meta {
  margin-bottom: 10px;
}

.post-meta li {
  display: inline-block;
  color: #97989b;
  font-size: 12px;
  text-transform: uppercase;
}

.post-meta li a {
  color: #97989b;
  font-weight: 700;
}

.post-meta li a:hover,
.post-meta li a:focus {
  color: #337ab7;
}

.post-meta li:after {
  content: "•";
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.post-meta li:last-child:after {
  display: none;
}

/*----------------------------*\
      hot post
  \*----------------------------*/

.hot-post {
  padding: 0 15px;
}

.hot-post .hot-post-left {
  padding-right: 0px;
  padding-left: 0px;
}

.hot-post .hot-post-right {
  padding-right: 0;
  padding-left: 5px;
}

.hot-post .post {
  margin-bottom: 7px;
}

.hot-post {
  margin-bottom: 25px;
}

/*----------------------------*\
      post thumb
  \*----------------------------*/

.post.post-thumb .post-img:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(27, 28, 30, 0)),
    color-stop(90%, rgba(27, 28, 30, 0.8))
  );
  background: linear-gradient(180deg, rgba(27, 28, 30, 0) 0%, rgba(27, 28, 30, 0.8) 90%);
}

.post.post-thumb .post-body {
  position: absolute;
  margin: 0px;
  padding: 0px 5%;
  z-index: 20;
  bottom: 5%;
  background-color: transparent;
}

.post.post-thumb .post-title a {
  color: #fff;
}

.post.post-thumb .post-title a:hover,
.post.post-thumb .post-title a:focus {
  color: #fff !important;
  opacity: .8;
}

.post.post-thumb .post-meta li {
  color: #fff;
}

.post.post-thumb .post-meta li a {
  color: #fff;
}

.post.post-thumb .post-meta li a:hover,
.post.post-thumb .post-meta li a:focus {
  color: #337ab7 !important;
}

.col-lg-8.col-md-12.hot-post-left .post .post-img{
  height: 407px;
}
.col-lg-4.col-md-12.hot-post-right .post .post-img{
  height: 200px;
}

/*----------------------------*\
      post small
  \*----------------------------*/

.post.post-sm .post-body {
  margin: 15px 0px 0px;
  background: transparent;
  padding: 0;
}

.post.post-sm .post-img .post-bg {
	height: 140px;
	background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075) !important;
}

/*----------------------------*\
      post widget
  \*----------------------------*/

.post.post-widget:after {
  content: "";
  display: table;
  clear: both;
}

.post.post-widget .post-img {
  float: left;
  width: 130px;
}

.post.post-widget .post-body {
  position: relative;
  background: transparent;
  margin: 0px 0px 0px 150px;
  padding: 0;
}

.post.post-widget .post-title {
  font-size: 16px;
  margin-bottom: 0px;
}

/*----------------------------*\
      post row
  \*----------------------------*/

.post.post-row:after {
  content: "";
  display: table;
  clear: both;
}

.post.post-row .post-img {
  width: 40%;
  float: left;
}

.post.post-row .post-body {
  margin: 0px 0px 0px calc(40% + 30px);
  padding: 0;
}

/*=========================================================
      POST PAGE
  ===========================================================*/

.page-header .post-category {
  margin-bottom: 10px;
}

.page-header .post-meta li {
  color: #fff;
}

.page-header .post-meta li a {
  color: #fff;
}

.page-header .post-meta li a:hover,
.page-header .post-meta li a:focus {
  color: #337ab7;
}

.post-share a {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
  background-color: #97989b;
  margin-right: 4px;
  margin-bottom: 6px;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.post-share a:hover {
  opacity: 0.9;
  color: #fff;
}

.post-share a i {
  width: 20px;
  text-align: center;
}

.post-share a span {
  padding-left: 10px;
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-left: 10px;
}

.post-content .post-attachement.pull-left {
  margin-right: 15px;
}

.post-content .post-attachement.pull-right {
  margin-left: 15px;
}

.post-tags ul li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.post-tags ul li:first-child {
  font-weight: 400;
}

.post-tags ul li:after {
  content: ",";
  display: inline-block;
}

.post-tags ul li:first-child:after {
  display: none;
}

.post-tags ul li:last-child:after {
  display: none;
}

.post-tags a:hover{
  color: #fff;
}

/*----------------------------*\
      post nav
  \*----------------------------*/

.post-nav:after {
  content: "";
  display: table;
  clear: both;
}

.post-nav .post-title {
  font-size: 14px;
  margin: 0px;
}

.post-nav .prev-post {
  float: left;
  width: 50%;
  padding-right: 15px;
}

.post-nav .next-post {
  float: right;
  width: 50%;
  text-align: right;
  padding-left: 15px;
}

.post-nav .post-img {
  display: block;
  width: 100px;
  overflow: hidden;
}

.post-nav .prev-post .post-img {
  float: left;
  margin-right: 15px;
}

.post-nav .next-post .post-img {
  float: right;
  margin-left: 15px;
}

.post-nav .next-post span,
.post-nav .prev-post span {
  font-weight: 700;
  color: #97989b;
  text-transform: uppercase;
  font-size: 12px;
}

.post-nav .next-post:after,
.post-nav .prev-post:after {
  content: "";
  display: table;
  clear: both;
}

/*----------------------------*\
      author
  \*----------------------------*/

.author.media .media-left {
  position: relative;
  padding-right: 30px;
}

.author .author-img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.author .author-social li {
  display: inline-block;
  margin-right: 10px;
}

.author .author-social li a {
  display: block;
}

.page-header .author .author-social li a {
  color: #fff;
}

.page-header .author .author-social li a:hover,
.page-header .author .author-social li a:focus {
  color: #337ab7;
}

/*----------------------------*\
      comments
  \*----------------------------*/

.post-comments .media {
  margin-top: 30px;
}

.post-comments .media:nth-child(1) {
  margin-top: 0px;
}

.post-comments .media .media-left {
  position: relative;
  padding-right: 15px;
}

.post-comments .media .media-left .media-object {
  width: 50px;
  border-radius: 50%;
  position: relative;
  z-index: 20;
}

.post-comments .media .media-left:after {
  content: "";
  position: absolute;
  left: calc(50% - 9px);
  top: 80px;
  bottom: 15px;
  width: 1px;
  background-color: #e8eaed;
}

.post-comments .media .media-heading h4 {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
}

.post-comments .media .media-heading .time {
  color: #97989b;
  margin-left: 10px;
  font-size: 12px;
}

.post-comments .media .reply {
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 13px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #323335;
  border-radius: 2px;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.post-comments .media .reply:hover {
  opacity: 0.9;
}

.post-comments .media.media-author .media-heading h4 {
  color: #337ab7;
}

.post-comments .media.media-author .media-left:after {
  background-color: #337ab7;
}

/*=========================================================
      ASIDE
  ===========================================================*/

.aside-widget {
  margin-bottom: 30px;
}

/*----------------------------*\
      social widget
  \*----------------------------*/

.social-widget ul {
  overflow: auto;
  list-style: none;
}

.social-widget ul li {
  float: left;
  width: 33.33%;
}

.social-widget ul li a {
  display: block;
  text-align: center;
  padding: 30px 15px;
  color: #fff;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.social-widget ul li a:hover {
  opacity: 0.9;
  color: #fff;
}

.social-widget ul li a span {
  font-weight: 700;
  font-size: 14px;
}

.social-widget ul li a i {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
}

/*----------------------------*\
      newsletter widget
  \*----------------------------*/

.newsletter-widget {
  position: relative;
  padding: 0px 30px 30px;
  border-left: 2px dashed #e8eaed;
  border-right: 2px dashed #e8eaed;
}

.aside-widget:last-child .newsletter-widget {
  border-bottom: 2px dashed #e8eaed;
}

.newsletter-widget form {
  position: relative;
  z-index: 20;
}

.newsletter-widget .input {
  margin-bottom: 15px;
}

.newsletter-widget:after {
  content: "\f003";
  font-family: FontAwesome;
  position: absolute;
  bottom: -25px;
  right: 27px;
  font-size: 160px;
  color: #e8eaed;
  -webkit-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  transform: rotate(13deg);
}

.footer-widget .newsletter-widget {
  padding: 0px;
  border: none;
}

.footer-widget .newsletter-widget:after {
  color: #323335;
}

/*----------------------------*\
      category widget
  \*----------------------------*/

.category-widget ul li {
  padding: 15px 0px;
  border-bottom: 1px solid #e8eaed;
}

.category-widget ul li a {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
}

.category-widget ul li a span {
  float: right;
  font-size: 14px;
  color: #97989b;
  margin-left: 15px;
}

.footer-widget .category-widget ul li {
  border-color: #323335;
}

/*----------------------------*\
      tags widget
  \*----------------------------*/

.tags-widget ul li {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 6px;
}

.tags-widget ul li a {
  text-transform: uppercase;
  display: block;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 700;
  color: #97989b;
  background-color: #323335;
  border-radius: 2px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.tags-widget ul li a:hover,
.tags-widget ul li a:focus {
  color: #fff !important;
  background-color: #337ab7;
}

/*----------------------------*\
      galery widget
  \*----------------------------*/

.galery-widget ul {
  margin: -2px -2px;
}

.galery-widget ul li {
  display: inline-block;
  width: 33.33%;
  padding: 2px;
  margin-right: -4px;
}

.galery-widget ul li a {
  display: block;
  overflow: hidden;
}

.galery-widget ul li a img {
  width: 100%;
  -webkit-transition: 1.6s -webkit-transform;
  transition: 1.6s -webkit-transform;
  transition: 1.6s transform;
  transition: 1.6s transform, 1.6s -webkit-transform;
}

.galery-widget ul li a:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/*----------------------------*\
	social colors
\*----------------------------*/

.social-facebook {
  background: #225b99 !important;
}

.social-twitter {
  background: #00adf2 !important;
}

.social-google-plus {
  background: #dc4d2d !important;
}

.social-pinterest {
  background: #cc2127 !important;
}

.social-instagram {
  background: #d341b2 !important;
}
/*=========================================================
	RESPONSIVE
===========================================================*/
@media only screen and (max-width: 901px) {
  .page-header h1 {
    font-size: 32.437px;
  }
  .post-nav .prev-post {
    float: none;
    width: 100%;
    margin-bottom: 15px;
    padding-right: 0px;
  }
  .post-nav .prev-post:last-child {
    margin-bottom: 0px;
  }
  .post-nav .next-post {
    float: none;
    width: 100%;
  }
  .post-nav .next-post {
    float: none;
    width: 100%;
    padding-left: 0px;
    text-align: left;
  }
  .post-nav .next-post .post-img {
    margin-right: 15px;
    float: left;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 1200px){
  .post.post-thumb .post-img .no-image { height: 409px;  }
}

@media only screen and (max-width: 1200px){
  .post.post-thumb .post-img .no-image { height: 343px; }
  .hot-post-right .post.post-thumb .post-img .no-image { height: 165px; }
}

// Configurações de estilo da publicação
.highlighter-rouge .highlight .highlight code { color: #fff; }
.language-bash.highlighter-rouge .highlight .c {color: #6DAD6E; }
.language-md.highlighter-rouge .highlight .pi {color: #fff; }

// Teste
// Posts
.post-card:hover {
  transform: translateY(-4px);
}

.post-card .post-link {
  transition: all 120ms ease-in-out;
}

.post-card .post-link:hover {
  text-decoration-line: none;
  opacity: 1;
  color: #000000;
}

.post-link .post-image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-bottom: 16px;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.post-new{
  height: 350px !important;
}

.post-date {
  margin-bottom: 6px;
  font-family: 'Rubik', 'sans-serif';
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: .8px;
  color: #AEB3BB;
  text-transform: uppercase;
  width: 100%;
}

.post-title-height {
  line-height: 20px;
  height: 71px;
  overflow: hidden;
}

.post-user{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color:#11151c;
  background-position: center;
  background-size: cover;
  color:#fff;
  border: 2px solid#fff;
  border-radius: 100%;
  font-family: Rubik,sans-serif;
  font-weight: 700;
  font-size: 10px;
  position: absolute;
  top: 60%;
  right: 85%;
}

@media only screen and (min-width: 767px){
  .post-user{
    top: 56%;
    width: 64px;
    height: 64px;
  }
}

@media only screen and (min-width: 450px){
  .post-user{
    top: 56%;
    width: 42px;
    height: 42px;
  }
}

@media only screen and (max-width: 500px){
  .carousel-item .page-header-bg{
    height: 30em !important;
  }

  .col-lg-4.col-md-12.hot-post-right .post .post-img{
    height: 407px;
  }
}

@media only screen and (max-width: 1100px){
  .carousel-item .page-header-bg{
    height: 24em;
  }
}

.post-card .post-link .post-title, .post-card-new .post-title{
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: .16px;
  color: #000000;
}

.posts-info {
  margin-bottom: 50px;
}

