---
layout: default
---
<style>
    .site-header {
        float: initial !important;
    }
</style>
<section class="section-blog">
    <!--  PAGE HEADER  -->
    <div id="post-header" class="page-header">
        <div class="page-header-bg"
            style="background-image: url('{{ page.feature-img  | absolute_url }}'); background-position: 0% 0%;"
            data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="post-category">
                        <a
                            href="{{ 'blog/categoria/' | absolute_url }}{{ page.category | first }}">{{ page.category | first }}</a>
                    </div>
                    <h1>{{ page.title }}</h1>
                    <ul class="post-meta">
                        <li><a href="{{ 'blog/author/' | absolute_url }}{{ page.author-id }}">{{ page.author-id }}</a>
                        </li>
                        <li>{% include blog/data_ptBR.html date=page.date %}</li>
                        <li><i class="fa fa-comments"></i> 3</li>
                        <li><i class="fa fa-eye"></i> 807</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="section section-blog">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <!-- post share -->
                <div class="section-row">
                    <div class="post-share">
                        <a href="#" class="social-facebook"><i class="fa fa-facebook"></i><span>Compartilhar</span></a>
                        <a href="#" class="social-twitter"><i class="fa fa-twitter"></i><span>Tweet</span></a>
                        <a href="#" class="social-pinterest"><i class="fa fa-pinterest"></i><span>Pin</span></a>
                        <a href="#"><i class="fa fa-envelope"></i><span>Email</span></a>
                    </div>
                </div>
                <!-- /post share -->

                <!-- post content -->
                <div class="section-row">{{ content }}</div>
                <!-- /post content -->

                <!-- post tags -->
                <div class="section-row">
                    <div class="post-tags">
                        <!-- Tag list -->
                        {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
                        {% include tags_list.html tags=tag_list %}
                    </div>
                </div>
                <!-- /post tags -->

                <!-- post nav -->
                <div class="section-row">

                    {% assign cat = page.category %}

                    {% for post in site.categories[cat] %}
                    {% if post.url == page.url %}
                    {% assign post_index0 = forloop.index0 %}
                    {% assign post_index1 = forloop.index %}
                    {% endif %}
                    {% endfor %}

                    {% for post in site.categories[cat] %}
                    {% if post_index0 == forloop.index %}
                    {% assign next_post = post %}
                    {% endif %}
                    {% if post_index1 == forloop.index0 %}
                    {% assign prev_post = post %}
                    {% endif %}
                    {% endfor %}


                    <div class="post-nav">
                        {% if prev_post %}
                        <div class="prev-post">
                            <a class="post-img" href="{{ prev_post.url }}"><img src="{{ prev_post.feature-img }}"
                                    alt="{{ prev_post.content | strip_html | truncate: '20' | escape }}"></a>
                            <h3 class="post-title"><a href="{{ prev_post.url }}">{{ prev_post.title }}</a>
                            </h3>
                            <span>Postagem anterior</span>
                        </div>
                        {% endif %}

                        {% if next_post %}
                        <div class="next-post">
                            <a class="post-img" href="{{ next_post.url }}"><img src="{{ next_post.feature-img }}"
                                    alt="{{ next_post.content | strip_html | truncate: '20' | escape }}"></a>
                            <h3 class="post-title"><a href="{{ next_post.url }}">{{ next_post.title }}</a></h3>
                            <span>Próximo post</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- /post nav  -->

                <!-- post author -->
                <div class="section-row">
                    <div class="section-title">
                        <h3 class="title">Sobre <a
                                href="{{ 'blog/author/' | absolute_url }}{{ page.author-id }}">{{ site.data.authors[page.author-id].name }}</a>
                        </h3>
                    </div>
                    <div class="author media">
                        <div class="media-left">
                            <a href="{{ 'blog/author/' | absolute_url }}{{ page.author-id }}">
                                {% if site.data.authors[page.author-id].avatar %}
                                <img class="author-img media-object" src="{{ site.data.authors[page.author-id].avatar | absolute_url }}" />
                                {% elsif site.data.authors[page.author-id].github %}
                                <img class="author-img media-object"
                                    src="https://avatars3.githubusercontent.com/{{ site.data.authors[page.author-id].github }}?v=3&amp;s=273" />
                                {% else %}
                                <img class="author-img media-object"
                                    src="https://ui-avatars.com/api/?name={{ site.data.authors[page.author-id].name | uri_escape  }}?size=273" />
                                {% endif %}
                            </a>
                        </div>
                        <div class="media-body">
                            <p>{{ site.data.authors[page.author-id].content }}</p>
                            <ul class="author-social">
                                {% if site.data.authors[page.author-id].social.facebook %}
                                <li><a target="_blank" href="http://fb.com/{{ site.data.authors[page.author-id].social.facebook }}"><i class="fa fa-facebook fa-fw"></i></a></li>
                                {% endif %}
                                {% if site.data.authors[page.author-id].github %}
                                <li><a target="_blank" href="http://github.com/{{ site.data.authors[page.author-id].github }}"><i class="fa fa-github fa-fw"></i></a></li>
                                {% endif %}
                                {% if site.data.authors[page.author-id].social.twitter %}
                                <li><a target="_blank" href="https://twitter.com/{{ site.data.authors[page.author-id].social.twitter }}"><i class="fa fa-twitter fa-fw"></i></a></li>
                                {% endif %}
                                {% if site.data.authors[page.author-id].social.instagram %}
                                <li><a target="_blank" href="https://instagram.com/{{ site.data.authors[page.author-id].social.instagram }}"><i class="fa fa-instagram fa-fw"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /post author -->

                <!-- /related post -->
                <div>
                    <div class="section-title">
                        <h3 class="title">Posts Relacionados</h3>
                    </div>
                    <div class="row">
                        <!-- post -->
                        {%- assign variable = page.category | first -%}
                        {% for post in site.categories[variable] limit:6 %}
                        <div class="col-md-4">{%- include blog/post-thumb.html post=post type='post-sm' -%}</div>
                        {% endfor %}
                        <!-- /post -->
                    </div>
                </div>
                <!-- /related post -->

                <!-- post comments -->
                <div class="section-row">
                    <div class="section-title">
                        <h3 class="title">Comentários</h3>
                    </div>
                    <div class="post-comments"></div>
                </div>
                <!-- /post comments -->
            </div>
            <div class="col-md-4">{%- include blog/blogSubMenu.html -%}</div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>