<section class="clients_logo_area p_120">
  <div class="container">
    <div class="clients_slider owl-carousel owl-loaded owl-drag">
      <div class="item">
        <img src="{{ 'assets/img/parceiros/ifs.png' }}" alt="IFS logo">
      </div>
      <div class="item">
        <img src="{{ 'assets/img/parceiros/propex.png' }}" alt="Propex logo">
      </div>
      <div class="item">
        <img src="{{ 'assets/img/parceiros/coinf.png' }}" alt="Coinf Logo">
      </div>
      <div class="item">
        <img src="{{ 'assets/img/parceiros/cbsi.jpg' }}" style="width: 75%;" alt="Cbsi Logo">
      </div>
    </div>
  </div>
</section>